 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 598px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-form-1 {
  height: 336px;
  width: 510px;
  margin: 47px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  --radius: 50px;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  transition-duration: 0.5s;
  background-image: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 598px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-map-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 697px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }

  .u-section-1 .u-btn-1 {
    padding-top: 13px;
    padding-bottom: 14px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 493px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 582px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 378px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 871px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 567px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 661px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: auto;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-form-1 {
    height: 489px;
    width: 318px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 357px;
  }
}