 .u-section-1 {
  background-image: none;
  min-height: 650px;
}

.u-section-1 .u-group-1 {
  min-height: 650px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 30px 96px 0 65px;
}

.u-section-1 .u-list-1 {
  width: 1291px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 40px auto 0 65px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 447px;
  grid-gap: 20px 20px;
}

.u-section-1 .u-list-item-1 {
  background-size: auto;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 8px;
}

.u-section-1 .u-group-2 {
  width: 220px;
  min-height: 177px;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 257px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 30px;
  min-width: 16px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  height: 267px;
  margin-top: -433px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-list-item-2 {
  background-size: auto;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 20px 8px;
}

.u-section-1 .u-group-3 {
  width: 220px;
  min-height: 177px;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 257px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-1 .u-social-icons-2 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 30px;
  min-width: 16px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-image-2 {
  height: 267px;
  margin-top: -433px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 20px 8px;
}

.u-section-1 .u-group-4 {
  width: 220px;
  min-height: 177px;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 257px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-6 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-1 .u-social-icons-3 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 30px;
  min-width: 16px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-image-3 {
  height: 267px;
  object-position: 50% 0%;
  margin-top: -433px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-list-item-4 {
  background-size: auto;
  --radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 20px 8px;
}

.u-section-1 .u-group-5 {
  width: 220px;
  min-height: 177px;
  height: auto;
  --top-left-radius: 20px;
  --top-right-radius: 20px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 257px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-8 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  text-transform: none;
  letter-spacing: 2px;
  font-size: 1.125rem;
  margin: 15px 0 0;
}

.u-section-1 .u-social-icons-4 {
  white-space: nowrap;
  height: 30px;
  min-height: 16px;
  width: 30px;
  min-width: 16px;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-image-4 {
  height: 267px;
  object-position: 50% 0%;
  margin-top: -433px;
  margin-bottom: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 1080px;
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 256px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 256px;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: 256px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 660px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1142px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 324px;
  }

  .u-section-1 .u-image-1 {
    height: 323px;
    margin-top: -499px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 324px;
  }

  .u-section-1 .u-image-2 {
    height: 323px;
    margin-top: -499px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 323px;
  }

  .u-section-1 .u-image-3 {
    height: 323px;
    margin-top: -499px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 324px;
  }

  .u-section-1 .u-image-4 {
    height: 323px;
    margin-top: -499px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-list-1 {
    width: 520px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 554px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 557px;
    margin-top: -729px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 554px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 557px;
    margin-top: -729px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 553px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 557px;
    margin-top: -729px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 554px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 557px;
    margin-top: -729px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2285px;
  }

  .u-section-1 .u-group-1 {
    min-height: 2285px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    width: 320px;
    margin-top: 44px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2156px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 335px;
  }

  .u-section-1 .u-image-1 {
    height: 334px;
    margin-top: -510px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 335px;
  }

  .u-section-1 .u-image-2 {
    height: 334px;
    margin-top: -510px;
    object-position: 50% 0%;
  }

  .u-section-1 .u-group-4 {
    margin-top: 334px;
  }

  .u-section-1 .u-image-3 {
    height: 334px;
    margin-top: -510px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 335px;
  }

  .u-section-1 .u-image-4 {
    height: 334px;
    margin-top: -510px;
  }
}
