 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 533px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 834px;
  margin: 57px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 49px 525px 0 41px;
}

.u-section-1 .u-accordion-1 {
  width: 1317px;
  margin: 25px auto 60px;
}

.u-section-1 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  margin-left: auto;
  border-style: solid;
  --radius: 25px;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 36px;
  width: 36px;
  background-image: none;
  color: rgb(153, 153, 153);
  padding: 7px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 1469px;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px auto 0 0;
}

.u-section-1 .u-video-1 {
  height: 578px;
  width: 1027px;
  margin: 30px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  margin-left: auto;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  --radius: 25px;
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 36px;
  width: 36px;
  background-image: none;
  color: rgb(0, 0, 0);
  padding: 7px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 1469px;
  margin-left: 0;
  margin-right: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-video-2 {
  height: 578px;
  width: 1027px;
  margin: 49px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-1 {
    width: 1140px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-video-1 {
    height: 371px;
    width: 660px;
  }

  .u-section-1 .u-video-2 {
    height: 371px;
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-1 {
    height: 292px;
    width: 520px;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-video-2 {
    height: 292px;
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-video-1 {
    height: 180px;
    width: 320px;
  }

  .u-section-1 .u-video-2 {
    height: 180px;
    width: 320px;
  }
}